$contactWidth: 50vh
input, textarea
    font: 15px/24px "Lato", Arial, sans-serif 
    color: #333
    width: $contactWidth
    box-sizing: border-box
    letter-spacing: 1px
    border: 0
    padding: 7px
    border-bottom: 1px solid #ccc
iframe
    width: $contactWidth
    height: $contactWidth
